
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


<div class="search-text">
  <div class="container">
    <div class="row text-center">

      <div class="form">
        <h4>SIGN UP TO OUR NEWSLETTER</h4>
        <form id="search-form" class="form-search form-horizontal">
          <input type="text" class="input-search" placeholder="Email Address">
          <button type="submit" class="btn-search">SUBMIT</button>
        </form>
      </div>

    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row text-center">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <ul class="menu">
          <span>Blogs</span>
          <li>
            <a href="#">Blog 1</a>
          </li>

          <li>
            <a href="#">Blog 2</a>
          </li>

          <li>
            <a href="#">Blog 3</a>
          </li>

          <li>
            <a href="#">Blog 4</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <ul class="menu">
          <span>Menu</span>
          <li>
            <a href="#">Home</a>
          </li>

          <li>
            <a href="#">About</a>
          </li>

          <li>
            <a href="#">Blog</a>
          </li>

          <li>
            <a href="#">Gallery </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <ul class="adress">
          <span>LINKS</span>
          <li>
            <a href="#">Gallery 1</a>
          </li>

          <li>
            <a href="#">Gallery 2</a>
          </li>

          <li>
            <a href="#">Gallery 3</a>
          </li>

          <li>
            <a href="#">Gallery 4</a>
          </li>
        </ul>
      </div>


      <div class="col-lg-8 col-lg-offset-2" id="icons">
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-github"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-tumblr"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#"><i class="fa fa-dropbox"></i></a>
        </div>
      </div>


    </div>
  </div>
</footer>


